/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div[class*="col-"] {
    background-color: #006cfa;
    color: white;
    font-size: 1em;
    padding: 1em;
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
    min-height: 3em;
}

div.nested-box {
    background-color: #00e165;
    border: 1px solid #006cfa;
    padding: 1em 0.25em;
}

h2, h3 {
    padding: 0.25em 0;
}
.h3-empty {
    color: white;
}
.centered {
    background-image: repeating-linear-gradient(135deg, yellow 0%, yellow 5%, orange 5%, orange 10%);
    text-align: center;
    color: red;
    margin: 1em auto;
    padding: 2em;
    height: 5em;
}
.centered:hover {
    background-image: repeating-linear-gradient(135deg, orange 0%, orange 5%, yellow 5%, yellow 10%);
    color: orangered;
    border: 5px dashed yellow;
}